In [5]:
import pandas as pd
import numpy as np

In [6]:

df = pd.read_csv('data.csv')
df

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128,6,6.1,140.10,3095,999
1,Samsung,Galaxy S21 Ultra,256,12,6.8,274.80,5000,1199
2,OnePlus,9 Pro,128,8,6.7,142.70,4500,899
3,Xiaomi,Redmi Note 10 Pro,128,6,6.67,140.67,5020,279
4,Google,Pixel 6,128,8,6.4,142.40,4614,799
...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,8,6.7,142.70,4300,1049
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,140.57,4160,349
404,Apple,iPhone 12 Pro Max,128,6,6.7,140.70,3687,1099
405,Oppo,Reno3,128,8,6.4,142.40,4025,429
406,Samsung,Galaxy S10 Lite,128,6,6.7,140.70,4500,649

In [7]:
df.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128,6,6.1,140.10,3095,999
1,Samsung,Galaxy S21 Ultra,256,12,6.8,274.80,5000,1199
2,OnePlus,9 Pro,128,8,6.7,142.70,4500,899
3,Xiaomi,Redmi Note 10 Pro,128,6,6.67,140.67,5020,279
4,Google,Pixel 6,128,8,6.4,142.40,4614,799

In [8]:
df.tail()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
402,Samsung,Galaxy Note20 5G,128,8,6.7,142.70,4300,1049
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,140.57,4160,349
404,Apple,iPhone 12 Pro Max,128,6,6.7,140.70,3687,1099
405,Oppo,Reno3,128,8,6.4,142.40,4025,429
406,Samsung,Galaxy S10 Lite,128,6,6.7,140.70,4500,649

In [9]:
print('rows:', df.shape[0])
print('columns:', df.shape[1])

rows: 407
columns: 8

In [10]:
df.isnull().sum()

Brand                     0
Model                     0
Storage                   0
RAM                       0
Screen Size (inches)      0
Camera (MP)               0
Battery Capacity (mAh)    0
Price ($)                 0
dtype: int64

In [11]:

df = df.fillna(df.mode().iloc[0])

In [15]:
df.dtypes

Brand                      object
Model                      object
Storage                     int64
RAM                         int64
Screen Size (inches)       object
Camera (MP)               float64
Battery Capacity (mAh)      int64
Price ($)                  object
dtype: object

In [16]:
df.count()

Brand                     407
Model                     407
Storage                   407
RAM                       407
Screen Size (inches)      407
Camera (MP)               407
Battery Capacity (mAh)    407
Price ($)                 407
dtype: int64

In [17]:
df.describe()

         Storage         RAM   Camera (MP)  Battery Capacity (mAh)
count  407.000000  407.000000   407.000000              407.000000
mean   123.046683    5.837838   135.320393             4676.476658
std     64.963160    2.431980    66.681004              797.193713
min     32.000000    2.000000    40.400000             1821.000000
25%     64.000000    4.000000    74.520000             4300.000000
50%    128.000000    6.000000   140.500000             5000.000000
75%    128.000000    8.000000   142.430000             5000.000000
max    512.000000   16.000000   534.900000             7000.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    int64
 3   RAM                     407 non-null    int64
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    float64
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 25.6+ KB

In [20]:
np.sum(pd.isnull(df))

c:\Users\HAK3\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

Brand                     0
Model                     0
Storage                   0
RAM                       0
Screen Size (inches)      0
Camera (MP)               0
Battery Capacity (mAh)    0
Price ($)                 0
dtype: int64

In [22]:
df["Brand"].unique()

array(['Apple', 'Samsung', 'OnePlus', 'Xiaomi', 'Google', 'Oppo', 'Vivo',
       'Realme', 'Motorola', 'Nokia', 'Sony', 'LG', 'Asus', 'Blackberry',
       'CAT', 'Huawei'], dtype=object)

In [24]:
num = df['Model'].mode()[0]
df['Model'] = df['Model'].fillna(num)

In [32]:
from sklearn.preprocessing import LabelEncoder

def changeobjtoint(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))
        # data_LE.fit(data)
        df[i] = data_LE.transform(df[i])
columns = ['Brand','Model']
changeobjtoint(columns)

In [33]:
X = df.iloc[:, 0:-1]
X.shape
y = df.iloc[:, -1]
y.shape

(407,)

In [34]:
cat_columns = X.select_dtypes(['object']).columns
X[cat_columns] = X[cat_columns].apply(lambda x: pd.factorize(x)[0])