In [5]:


import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("data.csv")

In [9]:

print(f"no of  rows {df.shape[0]}")
print(f"no of  column {df.shape[1]}")

no of  rows 4600
no of  column 18

In [10]:
df.isnull().sum()

date              0
price             0
bedrooms          0
bathrooms        47
sqft_living      47
sqft_lot         47
floors           47
waterfront       47
view             48
condition        48
sqft_above       48
sqft_basement    48
yr_built         48
yr_renovated     48
street           48
city              0
statezip          0
country           0
dtype: int64

In [12]:
df['price'].unique()

array([ 313000.    , 2384000.    ,  342000.    , ...,  416904.1667,
        203400.    ,  220600.    ])

In [14]:
df['street'] = df['street'].fillna(df['street'].mode()[0])

In [15]:
df['price'] = df['price'].astype('int64')

In [17]:

df.drop('country', axis=1, inplace=True)

In [18]:
df.dtypes

date              object
price              int64
bedrooms           int64
bathrooms        float64
sqft_living      float64
sqft_lot         float64
floors           float64
waterfront       float64
view             float64
condition        float64
sqft_above       float64
sqft_basement    float64
yr_built         float64
yr_renovated     float64
street            object
city              object
statezip          object
dtype: object

In [21]:

X = df.iloc[:, 0:-1]
y = df.iloc[:, -1]
print("X shape:", X.shape)
print("y shape:", y.shape)

X shape: (4600, 16)
y shape: (4600,)

In [22]:
cat_columns = X.select_dtypes(['object']).columns
X[cat_columns] = X[cat_columns].apply(lambda col: pd.factorize(col)[0])